# Experiment 1

**Name:** Pulkit Singh  
**SAP ID:** 590022181  
**Batch:** B12
---

## 1. Install Python and explain Interactive and Scripting Mode

### Installation Steps
1. Go to https://www.python.org  
2. Click on Downloads  
3. Download the latest Python version  
4. Run the installer and check **Add Python to PATH**  
5. Click Install Now  
6. Open IDLE to verify installation  

### Difference Between Modes

| Interactive Mode | Scripting Mode |
|------------------|----------------|
| Executes line by line | Executes full program |
| Uses `>>>` prompt | No prompt |
| Output shown immediately | Output shown after execution |
| Used for testing | Used for full programs |

## 2. Create a variable to store your age and print its type

In [84]:
age = 18
print(type(age))
print('Age is:', age)

<class 'int'>
Age is: 18

## 3. Declare a string variable x = 'Hello' and print it

In [85]:
'''Declare a string variable called x and assign it the value “Hello”.'''
str=input("Enter what you want to say ")
print(f"User said \n{str}")

User said
10

## 4. Print different data types

In [86]:
'''Take different data types and print values using print function'''
a=45
b="HELLO"
c='A'
d=3.14
print(f"{type(a),a}\n{type(b),b}\n{type(c),c}\n{type(d),d}")

(<class 'int'>, 45)
(<class 'str'>, 'HELLO')
(<class 'str'>, 'A')
(<class 'float'>, 3.14)

## 5. Arithmetic operations on x=9 and y=7

In [87]:
x=9
y=7
print(f"addition: {x+y}")
print(f"Subraction {x-y}")
print(f"Multiplication{x*y}")
print(f"Division {x//y}")

addition: 16
Subraction 2
Multiplication63
Division 1

## 6. Hypotenuse using Pythagoras theorem

In [88]:
import math

def calculate_hypotenuse(a, b):
    """
    Calculate the length of hypotenuse using Pythagoras theorem
    c = sqrt(a² + b²)
    """
    return math.sqrt(a**2 + b**2)

side1, side2 = 3, 4
hypotenuse1 = calculate_hypotenuse(side1, side2)
print(f"Triangle with sides {side1} and {side2}:")
print(f"Hypotenuse: {hypotenuse1}")

Triangle with sides 3 and 4:
Hypotenuse: 5.0

## 7. Simple Interest

In [89]:
'''
To find Simple Interset and Amount
'''
print(f"Enter principal,rate of intrest and time")
p=int(input(""))
r=int(input(""))
t=int(input(""))

si=p*r*t/100

amt=p+si

print(f"Simple intrest: {si}")
print(f"amount {amt}")

Enter principal,rate of intrest and time
Simple intrest: 0.01
amount 1.01

## 8. Area of triangle using Heron's formula

In [90]:
import math
a, b, c = 3, 4, 5
s = (a+b+c)/2
area = math.sqrt(s*(s-a)*(s-b)*(s-c))
print('Area =', area)

Area = 6.0

## 9. Convert seconds to hours, minutes, seconds

In [98]:
'''
conevert seconds into hr ,min nad secDocstring for time
'''

sec = int(input("Enter number of seconds: "))
print(f"Seconds Entered {sec}")
hr = sec // 3600
re_mi = sec % 3600
mi = re_mi // 60
sec = re_mi % 60

print(f"{hr}:{mi}:{sec}")

Seconds Entered 12312
3:25:12

## 10. Swap two numbers without extra variable

In [99]:
a = 12
b = 15
a, b = b, a
print(a, b)

15 12

## 11. Sum of first n natural numbers

In [100]:
n = 13
print('Sum =', n*(n+1)//2)

Sum = 91

## 12. Truth table for bitwise operators

In [101]:
'''Truth table for different operators'''

print(f"{'a':<5} {'b':<5} {'a&b':<5} {'a|b':<5} {'a^b':<5} {'not a':<7} {'not b':<7} {'not(a&b)':<10} {'not(a^b)':<10}")

for i in range(4):
    a = i // 2
    b = i % 2
    print(f"{a:<5} {b:<5} {a & b:<5} {a | b:<5} {a ^ b:<5} {int(not a):<7} {int(not b):<7} {int(not (a & b)):<10} {not(a^b):<10}")

a     b     a&b   a|b   a^b   not a   not b   not(a&b)   not(a^b)
0     0     0     0     0     1       1       1          1
0     1     0     1     1     1       0       1          0
1     0     0     1     1     0       1       1          0
1     1     1     1     0     0       0       0          1

## 13. Left shift and Right shift

In [103]:
'''
performing left and right shift(binary operators) a number
'''
num = int(input("Enter number: "))
n = int(input("Enter no. of shifts: "))

print(f"Number Entered {num}\nNumber of shift performed: {n}")
print(f"Left shift: {num * (2 ** n)}")
print(f"Right shift: {num // (2 ** n)}")

Number Entered 12
Number of shift performed: 3
Left shift: 96
Right shift: 1

## 14. Membership operator

In [104]:
seq = (10,20,56,78,89)
num = int(input("Enter Number"))

print(f"Number Entered {num}")
if num in seq:
    print('Present')
else:
    print('Not Present')

Number Entered 10
Present

---
**Submitted By:** Pulkit Singh  
**SAP ID:** 590022181 

**Github** https://github.com/pulkit-0715